                            /* MAIN THEME */

/* globals */

* {
    box-sizing : border-box;   
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1d2021; 
}
 
::-webkit-scrollbar-thumb {
  background: #a89984; 
}

::-webkit-scrollbar-thumb:hover {
  background: #a89984; 
}

body {
    background-color : #282828;
    color : #ebdbb2;
    font-family : 'Roboto Mono', monospace;
    font-size : 16px;
}

a {
    text-decoration : none;
    color : inherit;
}

ul {
    color : #d3869b;
    list-style-type : none;
    -webkit-padding-start: 0;
    margin : 0;
}

li {
    padding : 0.5em;
}

nav ul {
    margin : 0;
    padding : 0;
    list-style : none;
}

nav li {
    display : inline-block; 
    padding : 1em;
}

img {
    display : block;
    border : 3px solid #b16286;
    object-fit : cover;
    width : 70%;
    max-height : 100%;
    margin : 0 auto
}



.nav-link {
    padding : 0.3em;
    text-decoration : underline;
}

.link {
    color : #83a598;
    text-decoration : underline;
}

.navi {
    width : 100%;
    background-color : #0000;
    font-size : 15px;
    text-align : center;
    color : #f5de78;
    padding : 1rem;
}

h1 {
    display : block;
    background-color : #7c6f64;
    text-align : center;
}

.contact-grid {
    grid-area : socials;
    display : grid; 
    grid-gap : 10px;
    grid-template-rows : 4rem 4rem;
    grid-template-areas : 
        "github"
        "linkedin";
}

.social {
    display : block;
    padding : none;
    width : 4rem;
    height : 4rem;
    border-radius : 4em;
    background-color : #f5de78;
}

#github {
    grid-area : github;
}

#linkedin {
    grid-area : linkedin;
}

.nav_header {
    background-color : #504945;
    width : 99%;
    position : fixed;
    top : 0px;
    overflow : hidden;
}

.nav_header a {
    float : left;
    display : block;
    color : #bdae93;
    text-align : center;
    font-size : 1rem;
    padding : 0.5em 0.5em;
}

#main-contents {
    display : grid;
    grid-gap : 10px;
    grid-template-columns : 5% 15% 75% 5%;
    grid-template-areas : 
        ". header header ."
        ". socials about-me ."
        ". . stallions ."
}

#head {
    grid-area : header;
}

#greeter {
    grid-area : about-me;
}

.nav_header .icon {
    display : none;
}

#bars {
    width : 1rem;
    height : 100%;
    border : none;
}

@media screen and (max-width : 600px) {
    .nav_header a:not(:first-child) {
        display : none;
    }
    .nav_header a.icon {
        float : right;
        display : block;
    }
}

@media screen and (max-width : 600px) {
    .nav_header.responsive {position : relative;}
    .nav_header.responsive a.icon {
        position : absolute;
        right : 0;
        top : 0;
    }
    .nav_header.responsive a {
        float : none;
        display : block;
        text-align : center;
    }
}

                            /* IBPCI */

/* ibpci :: classes */

.pcode-snip {
    background: #1d2021;
    border: 1px solid #458588;
    color: #b8bb26;
    page-break-inside: avoid;
    font-family: inherit;
    font-size: 0.9em;
    line-height: 1.6em;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1em;
    display: block;
    word-wrap: break-word;
}

.button-ibpci {
    background-color : #665c54;
    color : #fbf1c7;
    font-family : 'Roboto Mono', monospace;
    font-weight : 600;
    border : 1px solid #fbf1c7;
    cursor : pointer;
    height : 2.5em;
    width : 100%;
}

.text-block {
    display : block;
    text-align : justify;
    text-justify: inter-word;
}

/* ibpci :: elements */

#ibpci_grid {
    display : grid;
    grid-template-columns : 10% 80% 10%;
    grid-template-rows : auto auto 500px auto;
    grid-gap : 10px;
    grid-template-areas : 
        ". header ."
        ". b-pad . "
        ". editor ."
        ". output ."
        ". lang . "
        ". about-ibpci ."
        ". token-diagram ."
        ". technical .";
}

#edit {
    display: block;
    resize : none;
    height : 100%;
    width: 100%;
    outline: none;
    border : 3px solid #458588;
    padding: 0;
    overflow: auto;
    background-color : #18191a;
    font-family: 'Roboto Mono', monospace;
    color : #b8bb26;
    padding : 0.5em;
    font-size : 1rem;
}

#editor {
    grid-area : editor;
    resize : none;
}

#output {
    background-color : #000;
    grid-area : output;
    min-height : 200px;
    padding : 0.5em;
    resize : vertical;
    font-family: 'Roboto Mono', monospace;
    font-size : 1rem;
    border : 3px solid #83a598;
    color : #fbf1c7;
    overflow : auto;
}

#button-pad {
    grid-area : b-pad;
    display : grid;
    grid-template-columns : 1fr 1fr;
    grid-gap : 10px;
    grid-template-areas : 
        "b-run b-clear"
}

#b-run {
    grid-area : b-run;
}

#b-clear {
    grid-area : b-clear;
}

#header_ibpci {
    text-align : center;
    grid-area : header;
}


#lang-overview {
    grid-area : lang;
}

#about-ibpci {
    grid-area : about-ibpci;
}

#token-diagram {
    grid-area : token-diagram;
}

