* {
    box-sizing : border-box;   
}

body {
    background-color : #282830;
    color : #f5de78;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration : none;
    color : inherit;
}

nav ul {
    margin : 0;
    padding : 0;
    list-style : none;
}

nav li {
    display : inline-block; 
    padding : 1em;
}

.navi {
    width : 100%;
    background-color : #0000;
    font-size : 15px;
    text-align : center;
    color : #f5de78;
    padding : 1rem;
}

.welcome_page {
    display : flex;
    justify-content : baseline;
}

.contact_mini {
    text-align : center;
    width : 30%;
    padding : 10%;
    color : inherit;
}

.about_me {
    width : 60%;
    padding : 5%;
    color : inherit;
}

.contact_mini, .about_me {
}

.ibpci_grid {
    display : grid;
    grid-template-columns : 2fr 1fr;
    grid-template-rows : auto auto 500px;
    grid-gap : 10px;
    grid-template-areas : 
        "header header"
        "buttons ."
        "editor output"
}

.editor {
    background-color : #000;
    grid-area : editor;
    resize : none;
    overflow : auto;
    border : solid;
}
.output {
    grid-area : output;
    border : solid;
    overflow : auto;
}

.header {
    grid-area : header;
}
